<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test1">
    <classes>
      <class name="com.viacom.smoketestscripts.signupFunctionalityCreateProfilePageTest"/>
    </classes>
  </test>
  <test thread-count="5" name="Test2">
    <classes>
      <class name="com.viacom.smoketestscripts.SignupFunctionalityTest"/>
    </classes>
  </test>

  <test name="VerifyCardMetadata">
    <classes>
      <class name="com.viacom.smoketestscripts.VerifyCardMetadata"/>
    </classes>
  </test>
    <test name="VerifyCardTypeInMyStuff">
    <classes>
      <class name="com.viacom.smoketestscripts.VerifyCardTypeInMyStuff"/>
    </classes>
  </test>
    <test name="VerifyCharacterShowCard">
    <classes>
      <class name="com.viacom.smoketestscripts.VerifyCharacterShowCard"/>
    </classes>
  </test>
    <test name="VerifyCharactersInCharactersTray">
    <classes>
      <class name="com.viacom.smoketestscripts.VerifyCharactersInCharactersTray"/>
    </classes>
  </test>
    <test name="VerifyCountOfAssetsInCarousal">
    <classes>
      <class name="com.viacom.smoketestscripts.VerifyCountOfAssetsInCarousal"/>
    </classes>
  </test>
    <test name="VerifyDisplayCardOrderInCarousal">
    <classes>
      <class name="com.viacom.smoketestscripts.VerifyDisplayCardOrderInCarousal"/>
    </classes>
  </test>
    <test name="VerifyFavouritesTrayAndIcon">
    <classes>
      <class name="com.viacom.smoketestscripts.VerifyFavouritesTrayAndIcon"/>
    </classes>
  </test>
    <test name="VerifyHorizontalSwipeMyStuffWatch">
    <classes>
      <class name="com.viacom.smoketestscripts.VerifyHorizontalSwipeMyStuffWatch"/>
    </classes>
  </test>
    <test name="VerifyLastViewedUI">
    <classes>
      <class name="com.viacom.smoketestscripts.VerifyLastViewedUI"/>
    </classes>
  </test>
  
    
     <test name="Verify1">
    <classes>
      <class name="com.viacom.smoketestscripts.VootKidsCreateProfileScreenFunctionalityTest"/>
    </classes>
  </test>
      <test name="Verify2">
    <classes>
      <class name="com.viacom.smoketestscripts.VootKidsCreateProfile"/>
    </classes>
  </test>
        <test name="Verify3">
    <classes>
      <class name="com.viacom.smoketestscripts.VerifyEditProfileFunctionalitytest"/>
    </classes>
  </test>
   <test name="Verify4">
    <classes>
      <class name="com.viacom.smoketestscripts.VerifySwitchProfileFunctionalityTest"/>
    </classes>
  </test>
 
</suite> 
